<div class="product-gallery" data-aos="fade-right">
    <div class="product-gallery-main shadow-sm">
        <img id="mainProductImg" src="{{ product.image.url }}?auto=compress&cs=tinysrgb&fit=crop&h=1000&w=1000" alt="Main Product" class="img-fluid w-100">
    </div>
    <div class="row g-2 product-gallery-thumbs">
        <div class="col-3">
            <div class="thumb-item active shadow-sm">
                <img src="https://images.pexels.com/photos/6766308/pexels-photo-6766308.jpeg?auto=compress&cs=tinysrgb&fit=crop&h=300&w=300" class="img-fluid" alt="Thumb 1">
            </div>
        </div>
        <div class="col-3">
            <div class="thumb-item shadow-sm">
                <img src="https://images.pexels.com/photos/25652621/pexels-photo-25652621.jpeg?auto=compress&cs=tinysrgb&fit=crop&h=300&w=300" class="img-fluid" alt="Thumb 2">
            </div>
        </div>
        <div class="col-3">
            <div class="thumb-item shadow-sm">
                <img src="https://images.pexels.com/photos/8069881/pexels-photo-8069881.jpeg?auto=compress&cs=tinysrgb&fit=crop&h=300&w=300" class="img-fluid" alt="Thumb 3">
            </div>
        </div>
        <div class="col-3">
            <div class="thumb-item shadow-sm">
                <img src="https://images.pexels.com/photos/13611901/pexels-photo-13611901.jpeg?auto=compress&cs=tinysrgb&fit=crop&h=300&w=300" class="img-fluid" alt="Thumb 4">
            </div>
        </div>
    </div>
</div>
