<section id="shop" class="py-5 bg-light">
    <div class="container py-5">
        <div class="section-header" data-aos="fade-up">
            <span>Must Haves</span>
            <h2>Featured Masterpieces</h2>
        </div>
        
        <div class="swiper productSwiper" data-aos="zoom-in" data-aos-duration="1000">
            <div class="swiper-wrapper">
                <!-- Example of how to loop in Django -->
                {% for product in products %}
                <div class="swiper-slide">
                    <div class="product-card">
                        <div class="product-image-wrapper">
                            <span class="badge-discount">NEW</span>
                                {% if product.image %}
                                <img src="{{ product.image.url }}" alt="{{ product.name }}" class="img-fluid">
                                {% endif %}                     
                                <div class="product-actions">
                                    <a href="#" class="action-btn" title="Add to Wishlist"><i class="bi bi-heart"></i></a>
                                    <a href="{% url 'product_detail' product.id%}" class="action-btn" title="Quick View"><i class="bi bi-eye"></i></a>
                                    <a 
                                        href="{% url 'add_to_cart' product.id %}" 
                                        class="action-btn" 
                                        title="Add to Cart"
                                    >
                                        <i class="bi bi-bag-plus"></i>
                                    </a>
                                </div>
                        </div>
                        <div class="product-info">
                            <h3 class="product-title"><a class="text-decoration-none" href="{% url 'product_detail' product.id %}">{{ product.name }}</a></h3>
                            <div class="mb-2 text-warning small">
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                            </div>
                            <p class="product-price">kes. {{ product.price|floatformat:2 }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
            <div class="swiper-pagination mt-5"></div>
        </div>
    </div>
</section>
