{% extends "base.html" %}


{% block title %}
Order Details | LUXE & CO.
{% endblock %}


{% block content %}

<section class="py-5 mt-5 order-detail-section">

<div class="container">


    <div class="order-header-card">

        <div>
            <span class="order-label">
                Order Reference
            </span>

            <h1>
                {{ order.order_number }}
            </h1>
        </div>


        <div class="order-status">

            <span>
                Status
            </span>

      <div class="order-progress">


            {% for status in status_steps %}

           <div class="order-step {% if forloop.counter0 < current_index %}   completed

            {% elif forloop.counter0 == current_index %}
            active

            {% endif %}

            ">

                <div class="step-circle">
                    <i class="bi bi-check"></i>
                </div>

                <span>
                    {{ status|title }}
                </span>

            </div>


            {% endfor %}


            </div>
        </div>

    </div>



    <div class="row g-4 mt-4">


        <div class="col-lg-4">

            <div class="order-info-card">

                <h4>
                    Customer Details
                </h4>


                <div class="order-info-item">
                    <i class="bi bi-person"></i>
                    <span>
                        {{ order.customer_name }}
                    </span>
                </div>


                <div class="order-info-item">
                    <i class="bi bi-envelope"></i>
                    <span>
                        {{ order.email }}
                    </span>
                </div>


                <div class="order-info-item">
                    <i class="bi bi-telephone"></i>
                    <span>
                        {{ order.phone }}
                    </span>
                </div>


                <div class="order-info-item">
                    <i class="bi bi-geo-alt"></i>
                    <span>
                        {{ order.address }},
                        {{ order.city }},
                        {{ order.country }}
                    </span>
                </div>


            </div>

        </div>




        <div class="col-lg-8">


            <div class="order-products-card">


                <h4>
                    Order Items
                </h4>



                {% for item in order.items.all %}


                <div class="order-product-row">


                    <div class="order-product-name">

                        {{ item.product.name }}

                    </div>



                    <div>

                        Qty:
                        {{ item.quantity }}

                    </div>



                    <div class="order-product-price">

                        KES {{ item.subtotal|floatformat:2 }}

                    </div>


                </div>


                {% endfor %}

                <div class="mt-5 payment-history">

                    <h4>
                        Payment History
                    </h4>


                    {% if order.payments.all %}


                        {% for payment in order.payments.all %}


                        <div class="payment-card">


                            <div class="payment-row">

                                <span>
                                    Reference
                                </span>

                                <strong>
                                    {{ payment.transaction_reference }}
                                </strong>

                            </div>



                            <div class="payment-row">

                                <span>
                                    Method
                                </span>

                                <strong>
                                    {{ payment.payment_method }}
                                </strong>

                            </div>



                            <div class="payment-row">

                                <span>
                                    Status
                                </span>

                                <strong>
                                  
                                    <span class="payment-badge payment-{{ payment.get_status_display }}">

                                        {{ payment.get_status_display }}

                                    </span>
                                </strong>

                            </div>



                            <div class="payment-row">

                                <span>
                                    Amount
                                </span>

                                <strong>
                                    KES {{ payment.amount|floatformat:2 }}
                                </strong>

                            </div>



                            <div class="payment-row">

                                <span>
                                    Date
                                </span>

                                <strong>
                                    {{ payment.created_at|date:"d M Y H:i" }}
                                </strong>

                            </div>


                        </div>


                        {% endfor %}


                    {% else %}

                        <p>
                            No payment records available.
                        </p>

                    {% endif %}

                    {% if order.payment_status != "paid" %}

                   <a href="{% url 'retry_mpesa_payment' order.order_number %}"
                    class="btn btn-dark mt-3">

                    Retry Payment

                    </a>

                    {% endif %}

                </div>


                <div class="order-total">

                    <span>
                        Total
                    </span>

                    <strong>
                        KES {{ order.total|floatformat:2 }}
                    </strong>

                </div>


            </div>


        </div>


    </div>



</div>

</section>


{% endblock %}