{% extends "base.html" %}


{% block title %}
My Orders | LUXE & CO.
{% endblock %}


{% block content %}


<section class="py-5 mt-5 order-history-section">


<div class="container">


<div class="section-header">

<span>
Account
</span>

<h2>
My Orders
</h2>

</div>



<div class="order-history-card">


{% if orders %}


{% for order in orders %}


<div class="order-history-row">


<div>

<span class="order-history-label">
Order
</span>

<h5>
{{ order.order_number }}
</h5>

</div>



<div>

<span class="order-history-label">
Status
</span>

<p>
{{ order.get_status_display }}
</p>

</div>



<div>

<span class="order-history-label">
Total
</span>

<p>
KES {{ order.total|floatformat:2 }}
</p>

</div>



<div>

<a href="{% url 'order_detail' order.order_number %}"
class="btn btn-gold">

View

</a>

</div>


</div>


{% endfor %}


{% else %}


<p>
You have no orders yet.
</p>


{% endif %}



</div>


</div>


</section>


{% endblock %}