{% extends "base.html" %}


{% block title %}
Order Complete | LUXE & CO.
{% endblock %}


{% block content %}

<section class="py-5 mt-5">

<div class="container text-center">

    <h1>
        Thank you for your order
    </h1>

    <p class="lead mt-3">
        Your order has been received successfully.
    </p>

    <p>
        Order Number:
        <strong>#{{ order.order_number }}</strong>
    </p>

    <div class="success-payment-box mt-4">


        <h5>
            Payment Information
        </h5>


        <div class="payment-row">

            <span>
                Status
            </span>

            <strong>
                <span class="payment-badge payment-{{ order.payment_status }}">

                    {{ order.get_payment_status_display }}

                </span>
            </strong>

        </div>



        <div class="payment-row">

            <span>
                Payment Reference
            </span>

            <strong>
                {{ order.transaction_id }}
            </strong>

        </div>


    </div>

    <a 
        href="{% url 'order_detail' order.order_number %}"
        class="btn btn-gold mt-3"
    >
    View Order
    </a>

</div>

</section>


{% endblock %}